
  img {
    width: 500px;
  }

  body {
    background-color: #FECEAB;
    color: #2A363B;
  }

  h1 {
    font-family: 'Vollkorn', serif;
    font-size: 100px;
    font-weight: 700
  }

  body {
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    font-weight: 400;
  }

  .center {
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
